<%- include('./partials/header') %>
<main>
  <section class="middle">
  <h2>Find Your Next Adventure</h2>
  <p>Book your flights now and explore the world!</p>
  </section>
  </main>

  <%- include('./partials/footer') %>